body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
.gray-heighlight{
    color:gray;
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left:3%;
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
    padding-bottom: 150px;
}
section{
    height:500px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, red, orange);
    padding: 10px 20px;
    color:white;
    font-weight:700;
    border-radius:5px;
}
p{
    color:dimgray;
}
h3{
color:aqua;
}
.dream-area{
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
}
.experience-area{
    background-image:url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-time{
    border-left: 7px solid;
    border-image: linear-gradient (lightsalmon, tomato);
    border-image-slice: 1;
}
